{% extends 'book_rec/base.html' %}

{% block title %} Notes Agents {% endblock %}

{% block body %}
<style>

</style>
</head>
<body>

<h2> "Meet The Team"</h2>
<br>

<div class="row">
  <div class="column">
    <div class="card">
      <img class="about" src="http://icons.iconarchive.com/icons/johanchalibert/mac-osx-yosemite/1024/finder-icon.png" alt="Md. Abudarda Khan" style="width:100%">
      <div class="container">
        <h2>Md. Abudarda Khan</h2>
        <p class="title">CEO & Founder</p>
        <p class="q">Interested in learning anything new and to working on a projects which not only tests me but also helps me learning new things</p>
        <pclass="q">khan.abudarda@gmail.com</p>
        <pclass="q"><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img class="about" src="https://cdn.pixabay.com/photo/2014/04/02/17/07/user-307993__340.png" alt="Simran Khetrapal" style="width:100%">
      <div class="container">
        <h2>Simran Khetrapal</h2>
        <p class="title q">Web Designer</p>
               <p class="q">I am ambitious and driven. I thrive on challenge and constantly set goals for myself, so I have something to strive toward. I’m not comfortable with settling, and I’m always looking for an opportunity to do better and achieve greatness</p>

        <p class="q">SimranKhetrapal1999@gmail.com</p>
        <p class="q"><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img class="about" src="https://cdn1.iconfinder.com/data/icons/user-actions-13/24/action_people_user_windows-512.png" alt="Arun Pandey" style="width:100%">
      <div class="container">
        <h2>Arun Pandey</h2>
        <p class="title">Web Designer</p>
        <p class="q">Some text that describes me lorem ipsum ipsum lorem.</p>
        <p class="q">arunpandey2000@gmail.com</p>
        <p class="q"><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
