{% extends 'book_rec/base.html' %}
{% block title %}Notes{% endblock %}
<style>




</style>
{% block body %}

<div class="row ab">
    <div class="col s12 m12 l12 list_sub">
         <ul class="collapsible">
    <li>
      <div class="collapsible-header"><a href="#">Applied Mathematics</a></div>
      <div class="collapsible-body"></div>
    </li>
    <li>
      <div class="collapsible-header"><a href="#">Applied Physics</a></div>
      <div class="collapsible-body"></div>
    </li>
    <li>
      <div class="collapsible-header"><a href="#">Applied Chemistry</a></div>
      <div class="collapsible-body"></div>
    </li>
      <li>
      <div class="collapsible-header"><a href="#">Elements of Computer Programming</a></div>
      <div class="collapsible-body"></div>
    </li>
      <li>
      <div class="collapsible-header"><a href="#">Elements of Electrical Engineering</a></div>
      <div class="collapsible-body"></div>
    </li>
      <li>
      <div class="collapsible-header"><a href="#">Digital Electronics and Communication</a></div>
      <div class="collapsible-body"></div>
    </li>
      <li>
      <div class="collapsible-header"><a href="#">Environmental Studies</a></div>
      <div class="collapsible-body"></div>
    </li>
      <li>
      <div class="collapsible-header"><a href="#">AutoCAD</a></div>
      <div class="collapsible-body"></div>
    </li>
      <li>
      <div class="collapsible-header"><a href="#">Computer Architecture Orgninzation</a></div>
      <div class="collapsible-body"></div>
    </li>
      <li>
      <div class="collapsible-header"><a href="#">Discrete Structure</a></div>
      <div class="collapsible-body"></div>
    </li>
      <li>
      <div class="collapsible-header"><a href="#">Data Structures and Algorithms</a></div>
      <div class="collapsible-body"></div>
    </li>
      <li>
      <div class="collapsible-header"><a href="#">DataBase Management System</a></div>
      <div class="collapsible-body"></div>
    </li>
      <li>
      <div class="collapsible-header"><a href="#">Object Oriented Programming System</a></div>
      <div class="collapsible-body"></div>
    </li>
    <li>
      <div class="collapsible-header"><a href="#">Theory of Computation</a></div>
      <div class="collapsible-body"></div>
    </li>
    <li>
      <div class="collapsible-header"><a href="#">Analysis and Design of Algorithm</a></div>
      <div class="collapsible-body"></div>
    </li>
    <li>
      <div class="collapsible-header"><a href="#">Micro-Processor and Interface</a></div>
      <div class="collapsible-body"></div>
    </li><li>
      <div class="collapsible-header"><a href="#">Core Java</a></div>
      <div class="collapsible-body"></div>
    </li><li>
      <div class="collapsible-header"><a href="#">Principle of Operationg System</a></div>
      <div class="collapsible-body"></div>
    </li>
    <li>
      <div class="collapsible-header"><a href="#"></a>Data Communication and Computer Network</div>
      <div class="collapsible-body"></div>
    </li>
    <li>
      <div class="collapsible-header"><a href="#">Computer Graphics</a></div>
      <div class="collapsible-body"></div>
    </li><li>
      <div class="collapsible-header"><a href="#">Software Engineering and Development Process</a></div>
      <div class="collapsible-body"></div>
    </li>
    <li>
      <div class="collapsible-header"><a href="#">Software Testing and Quality Assurance</a></div>
      <div class="collapsible-body"></div>
    </li>
    <li>
      <div class="collapsible-header"><a href="#">Advance Java</a></div>
      <div class="collapsible-body"></div>
    </li>
    <li>
      <div class="collapsible-header"><a href="#"></a>C# and .net</div>
      <div class="collapsible-body"></div>
    </li>
    <li>
      <div class="collapsible-header"><a href="#">Web Technology and Cyber Security</a></div>
      <div class="collapsible-body"></div>
    </li>
    <li>
      <div class="collapsible-header"><a href="#"></a></div>
      <div class="collapsible-body"></div>
    </li>
    <li>
      <div class="collapsible-header"><a href="#"></a></div>
      <div class="collapsible-body"></div>
    </li>
    <li>
      <div class="collapsible-header"><a href="#"></a></div>
      <div class="collapsible-body"></div>
    </li>

      </div>

</div>




    <!--  <a href="#">Applied Mathematics</a>
         <Div class="divider"></Div>
        <a href="#">Applied Physics</a>
         <Div class="divider"></Div>
        <a href="#">Applied Chemistry</a>
         <Div class="divider"></Div>
        <a href="#">Elements of Computer Programming</a>
         <Div class="divider"></Div>
        <a href="#">Elements of Electrical Engineering</a>
         <Div class="divider"></Div>
        <a href="#">Digital Electronics and Communication</a>
         <Div class="divider"></Div>
        <a href="#">Environmental Studies</a>
         <Div class="divider"></Div>
        <a href="#">AutoCAD </a>
         <Div class="divider"></Div>
        <a href="#">Computer Architecture Orgninzation</a>
         <Div class="divider"></Div>
        <a href="#">Discrete Structure</a>
         <Div class="divider"></Div>
        <a href="#">Data Structures and Algorithms</a>
         <Div class="divider"></Div>
        <a href="#">DataBase Management System</a>
         <Div class="divider"></Div>
        <a href="#">Object Oriented Programming System</a>
         <Div class="divider"></Div>
        <a href="#">Theory of Computation</a>
         <Div class="divider"></Div>
        <a href="#">Analysis and Design of Algorithm</a>
         <Div class="divider"></Div>
        <a href="#">Micro-Processor and Interface</a>
         <Div class="divider"></Div>
        <a href="#">Core Java</a>
         <Div class="divider"></Div>
        <a href="#">Principle of Operationg System</a>
         <Div class="divider"></Div>
        <a href="#">Data Communication and Computer Network</a>
         <Div class="divider"></Div>
        <a href="#">Computer Graphics</a>
         <Div class="divider"></Div>
        <a href="#">Software Engineering and Development Process</a>
         <Div class="divider"></Div>
        <a href="#">Software Testing and Quality Assurance</a>
         <Div class="divider"></Div>
        <a href="#">Advance Java</a>
         <Div class="divider"></Div>
        <a href="#">C# and .net</a>
         <Div class="divider"></Div>
        <a href="#">Web Technology and Cyber Security</a>
         <Div class="divider"></Div>
        <a href="#"></a>
         <Div class="divider"></Div>

    </div>

    -->


















    {% if all_notes %}
        <ul class="book_list">
            {% for notes in all_notes %}
            <li>
                <a href="{{ notes.url }}">{{ notes }}</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>No notes Availaible</h3>
    {% endif %}
{% endblock %}
