{% extends 'book_rec/base.html' %}



{% block body %}
<div class="n_img">

 <div class="main_box ">
    <div class="z-depth-0 cs " id="ss"><a href="{% url 'book_rec:notes' %}" class="">Computer Science Engineering</a></div>
    <!-- <Div class="divider"></Div> -->
    <div class="section cs" ><a href="#!" class="">Mechanical Engineering</a></div>
     <!--<Div class="divider"></Div> -->
    <div class="section z-depth-0 cs"><a href="#!" class="">Civil Engineering</a></div>
     <!--<Div class="divider"></Div> -->
    <div class="section cs"><a href="#!" class="">Electical Engineering</a></div>
     <!--<Div class="divider"></Div> -->
    <div class="section z-depth-0 cs"><a href="#!" class="">Electronics Engineering</a></div>
     <!--<Div class="divider"></Div> -->
    <div class="section cs" ><a href="#!" class="">Aeronautical Engineering</a></div>
     <!--<Div class="divider"></Div> -->
    <div class="section z-depth-0 cs"><a href="#!" class="">Automobile Engineering</a></div>
     <!--<Div class="divider"></Div> -->
 </div>

 </div>

 <div class=" row ">
    <div class="size col s12 m6 l4 "> <img src="https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"><h3>Computer Science Engineering</h3></h3></div>
    <div class="size col s12 m6 l4 "> <img src="https://images.pexels.com/photos/159306/construction-site-build-construction-work-159306.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"><h3>Civil Engineering</h3></h3></div>
     <div class="size col s12 m6 l4 "> <img src="https://images.pexels.com/photos/159298/gears-cogs-machine-machinery-159298.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"><h3>Mechanical Engineering</h3></h3></div>
     <div class="size col s12 m6 l4 "> <img src="https://images.pexels.com/photos/65623/vehicle-chrome-technology-automobile-65623.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"><h3>Civil Engineering</h3></h3></div>

</div>

{% endblock %}